:root {
  --primary: #34495e;
  --secondary: #b3daff;
  --gray: #dddddd;
  --black: #000000;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: center;
  color: var(--gray);
  background-color: var(--black);
  font-family: "Courier New", Courier, monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading {
  width: 66vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

header > img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  cursor: pointer;
}

#title {
  color: var(--secondary);
  font-size: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* TITLE ANIMATION */

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
  color: var(--secondary);
}

.ml11 .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--white);
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

/* TAB STYLING */

.tab {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  border: 1px solid var(--primary);
  background-color: var(--white);
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  color: var(--primary);
}

.tab button:hover {
  background-color: var(--gray);
}

.tab button.active {
  background-color: var(--primary);
  color: var(--secondary);
}

.tabcontent {
  display: none;
  padding: 5px;
}

/* TABLE STYLING */

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

thead {
  font-size: 130%;
  background-color: var(--primary);
}

td {
  padding: 10px;
  /* font-size: 20px; */
}

.inside-row tr:hover {
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: bolder;
  .fa {
    color: var(--primary);
  }
}

td:first-child {
  text-align: left;
}

tr:nth-child(1) {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* FOOTER STYLING */

footer {
  margin-top: 20px;
  color: var(--secondary);
}

footer > div > a {
  color: var(--secondary);
  text-decoration: underline;
}
/* Search Bar STYLING */
.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}
.tabcontent{
  width: 100%;
}

/* RESPONSIVE ELEMENTS */

@media screen and (max-width: 600px) {
  span.letters {
    font-size: 40px;
  }
  .InputContainer {
    width: 80%;
  }

  .input {
    width: 100%;
  }

  .labelforsearch {
    display: none; /* Hide the label to save space */
  }
}

@media screen and (max-width: 700px) {
  .heading{
    justify-content: center;
     gap: 20px;
     width: 100vw;
  }
  header {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 415px) {
  span.letters {
    font-size: 30px;
  }
}

@media screen and (max-width: 393px) {
  span.letters {
    font-size: 26px;
  }
}

@media screen and (max-width: 320px) {
  span.letters {
    font-size: 18px;
  }
}
